# === TOKEN & Webhook ===
BoiGPTbot=8109636149:AAEcc2ZVzCvFZnH7WzvKjz30tNSKXH6hY_Y
SECRET_TOKEN=change-me-secret
WEBHOOK_BASE=https://vietqr.vn
PORT=8080

# === VietQR Config (giữ nguyên tên biến) ===
VIETQR_CLIENT_ID=7c9407e3-c959-4247-b054-3e6eadabd1ad
VIETQR_API_KEY=3dc937d8-e8c0-4c87-96a8-cbe87e35963f
ACCOUNT_NO=074659603
ACCOUNT_NAME=HOANG GIA BAO
ACQ_ID=970441
VIETQR_TEMPLATE=compact2
